{% extends 'base.html' %}

{% block title %}
    Register Page
{% endblock %}

{% block content %}

    <style>
    .mb-4 {
            border-radius: 50%;
    }
    </style>

    <body class="text-center">
        <div class="container">

            <form method="POST",class='form-register',style="color:white">
                <br>        
                <img class="mb-4" src="https://i.ibb.co/4T77npz/onurlogo.png" alt="">
                    <h1 class="h3 mb-3 font-weight-normal">
                        Please Create your Account
                    </h1>

                    <br>

                    {{ form.username.label() }}
                    {{ form.username(class='form-control',placeholder='User Name') }}

                    {{ form.email_address.label() }}
                    {{ form.email_address(class='form-control',placeholder='Email Address') }}

                    {{ form.username.label() }}
                    {{ form.username(class='form-control',placeholder='User Name') }}

                    {{ form.password1.label() }}
                    {{ form.password1(class='form-control',placeholder='Password') }}

                    {{ form.password2.label() }}
                    {{ form.password2(class='form-control',placeholder='Confirm Password') }}
                   
                    <br>

                    {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

            </form>

        </div>         
    </body>

{% endblock %}